<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210407282797-nu6khhpf0mf4fekf3lc4hj2gqu4vsnc5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210407282797-nu6khhpf0mf4fekf3lc4hj2gqu4vsnc5</string>
	<key>API_KEY</key>
	<string>AIzaSyA1Ynpz0pkwvBUEjGUAWWKOlcMUCnxZrpk</string>
	<key>GCM_SENDER_ID</key>
	<string>210407282797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pickanything.appone.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>appone-flutter-project</string>
	<key>STORAGE_BUCKET</key>
	<string>appone-flutter-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210407282797:ios:fe73ab584811b43f47c764</string>
</dict>
</plist>